/* GENERAL CSS FOR ALL SIZES */
/* TEXT MEDIA QUERIES */
/* https://codepen.io/atcraigwatson/pen/vGPKBq */
html,
body {
	font-size: 14px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}


@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}


@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}


@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}

.jumbotron {
	font-size: 16px;
	@media (min-width: 62em) {
		font-size: 20px;
	}
	h1 {
		border-bottom: 4px solid #0275d8;
	}
	p.lead {
		border-radius: 4px;
	}
}



/* HEADER */

.my-jumbotron {
  background-image: url('../images/jumbotron.jpg');
  /* 100% view port height */
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  color: black;
}

.my-jumbo-carousel{
    min-height: 100vh;
}

.carousel-caption-top{
  top: 15%;
  left: 10%;
  text-shadow: 2px 1px 7px black;
  right: initial;
}

.mt-200{
  margin-top: 200px;
}

h1 {
  font-size: 55px;
}
.btn-success{
  font-size: 40px;
}


.nav-right-side{
  color: white;
  font-size: 25px;
}

.bg-kat{
  background-color: red;
}

.logo-text{
    margin-top: 20px;
    display: inline-block;
    font-size: 40px;
}

/* ROWS */

.full-width {
  background-image: url('../images/jumbotron.jpg');
  min-height: 500px;
  background-size: cover;
  background-position: center;
  /* going full width */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


.row3 .svg-inline--fa{
  color: red;
  font-size: 80px;
}

.formwrapper{
  max-width: 600px;
  margin: 0 auto;
}

.row {
  padding: 50px 0px;
}



.my-card{
   border: 5px solid green;
   /* EASY FIX */
   /* min-height: 600px; */
   height: 100%;

}

.my-button{
  max-width: 200px;
  margin: 0 auto;
  display: block;
}


}

.row8 {
  background-color: green;

}

.btn-modal{
  margin: auto;
  width: 200px;
  display: block;
}

/* Booststrap has it already */
/* .text-justify{
  text-align: justify;
} */




/* Footer */
/* bg dark grey, fonts white, icon light gray 40px */
.footer{
  color: white;
  background-color: #444444;
}

.footerimage{
  width: 100%;
}

.verticalmenu{
  max-width: 200px;
  margin: 0 auto;
  /* text-align:center; it didn't work*/
}

.socialicons .svg-inline--fa{
  font-size: 40px;
  color:#cccccc;
  margin: 10px 20px;
}

}

/* BOOSTRAP RESPOSIVE MEDIA QUERIES */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {





// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


 }




/* ------------------------------------------------- */
/* TESTS */
/*START WITH MOBILE FIRST  */
/* @media(min-width: 0px){
    .bg-kat{
      background-color: yellow;
    }
}

@media(min-width: 576px){
    .bg-kat{
      background-color: red;
    }
}

@media (min-width: 992px) and (max-width:2000px){
    .bg-kat{
      background-color: purple;
    }
} */
